body .cf7-style.cf7-style-524 {
		background-color: #ffffff;
		border-color: #dbdbdb#84b738;
}
body .cf7-style.cf7-style-524 textarea {
		width: 400px;
		box-sizing: content-box;
}
}
.entry-content select
{
    font-size: 1em;
    width:500px;
    height: 150px;
    border: solid 1px #84b738;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wpcf7-form P
{
    color: #84b738;
}

.entry-content input[type="text"]
{
    font-size: 1em;
    width:500px;
    border: solid 1px #84b738;
}
.entry-content  input[type="email"]
{
    font-size: 1em;
    width:500px;
    border: solid 1px #84b738;
}

.entry-content  input[type="tel"]
{
    font-size: 1em;
    width:500px;
    border: solid 1px #84b738;
}

.entry-content  input[type="file"]
{
    font-size: 1em;
    border: solid 1px #84b738;
}

.entry-content  input[type="submit"]
{
    font-size: 1em;
    width:140px;
    border: solid 1px #84b738;
  /*  background-color: #84b738;
    color: #ffffff;*/
}

.entry-content  textarea
{
    font-size: 1em;
    width:500px;
    border: solid 1px #84b738;

}